{{define "header"}}
<!DOCTYPE html>
<html style="height: 100%">
<head lang="en">
    <meta charset="UTF-8">
    <title>zrpc system</title>
    <link type="text/css" rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/public/css/skel-noscript.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/style-desktop.css" />
    <script src="/public/js/jquery.min.js"></script>
</head>
<body>

<!-- Header -->
<div id="header">
    <div class="container">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="#">ZRPC</a></h1>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li id="nav-home"><a href="/web">Homepage</a></li>
                <li id="nav-services"><a href="/public/build">Services</a></li>
                <li id="nav-users"><a href="/web/users">Users</a></li>
                <li id="nav-guide"><a href="/web/guide">Guide</a></li>
                <li id="nav-swagger"><a href="/web/swagger-ui">Swagger</a></li>
            </ul>
        </nav>

    </div>
</div>
<!-- Header -->

{{end}}
